body {
    background-color: #2c2b22;
    margin: 0;
}
.AnotherBody{
    background-color: #F57630;
    margin-left: 100px;
    margin-right: 100px;
}
.dropdown-menu {
    background-color: #f2c063;
}
nav {
    background-color: #f2c063;
    margin-left:100px;
    margin-right: 100px;
    padding: 10px;
}
h1{
    font-size: 60px;
}
#MermaidLogo {
    width: 200px;
    height: 200px;
    max-width: 100%;
    height: auto;
}
#Haggis{
    width: 200px;
    height: 200px;
}
#Wine{
    width: 200px;
    height: 200px;
}
#FriedRatSweker{
    width: 200px;
    height: 200px;
}
.MainHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainHeader > div {
    display: flex;
    align-items: center;
}

.Slogan {
    margin-top: 10px;
    text-align: center;
}
.CenterContent{
    display: flex;
    margin-top: 20px;
}
.CenterContent > div {
    flex: 1;
    margin: 0 10px;
}

@media screen and (max-width: 868px) {
    .CenterContent {
        flex-direction: column;
        align-items: center;
    }

    .CenterContent > div {
        margin: 10px 0;
    }
    .MainHeader {
        text-align: center;
    }

    .MainHeader > div {
        flex-direction: column;
    }
}
footer{
    background-color: #f2c063;
    margin-left:100px;
    margin-right: 100px;
    padding: 10px 0;
    align-content: center;
    text-align: center;
    font-size: small;


}
@media screen and (max-width: 500px) {
    body {
        background-color: #F57630;
        padding-bottom: 0;
    }
    .AnotherBody {
        margin: 0; 
        padding: 10px; 
    }

    nav, footer {
        margin-left: 0;
        margin-right: 0;
        width: 100%; 
    }
}

.custom-container{
    width: 50%;
    margin: 0 auto;
    align-content: center;
}
/* #2c2b22
#f2c063
#F57630
#8C160B
#400101  */