/*
Our color palette
#2c2b22
#f2c063
#F57630
#8C160B
#400101  */

@font-face {
    font-family: milonga;
    src: url("fonts/Milonga-Regular.ttf");
  }

nav {
    background-color: #f2c063;
    margin-left:100px;
    margin-right: 100px;
    padding: 10px;
    font-family: milonga;
}

.dropdown-menu {
    background-color: #f2c063;
}

.MainHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainHeader > div {
    display: flex;
    align-items: center;
}

h1{
    font-size: 60px;
}

#LocationHeader{
    text-align: center;
    font-size: 60px;
    font-family: milonga;
}

.Slogan {
    margin-top: 10px;
    text-align: center;
}

body {
    background-color: #2c2b22;
    margin: 0;
}

.AnotherBody{
    background-color: #F57630;
    margin-left: 100px;
    margin-right: 100px;
}

#MermaidLogo {
    width: 200px;
    height: 200px;
    max-width: 100%;
    height: auto;
}

#Haggis{
    width: 200px;
    height: 200px;
}

#Wine{
    width: 200px;
    height: 200px;
}

#FriedRatSweker{
    width: 200px;
    height: 200px;
}

#OurLocation{
    width: 500px;
    max-width: 100%;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.CenterContent{
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
}

.CenterContent > div {
    flex: 1;
    margin: 0 10px;
}

.CenterContent #OurDirections {
    font-size: 30px;
    font-family: milonga;
}

.JobBody {
    margin-top: 10px;
    align-content: center;
    text-align: center;
    font-family: milonga; 
}

.JobBody #JobTitle {
    font-size: 35px;
}

.JobBody #JobText {
    font-size: 24px;
}

.custom-container{
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    align-content: center;
    text-align: center;
    background-color: #8c160b;
    border: 1px solid #f2c063;
    color: #f2c063;
    font-family: milonga;
}

.table-container {
    width: 75%;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    font-family: milonga;
}

footer{
    background-color: #f2c063;
    margin-left:100px;
    margin-right: 100px;
    padding: 10px 0;
    align-content: center;
    text-align: center;
    font-size: small;
    font-family: milonga;
}

@media screen and (max-width: 1160px) {
    .CenterContent {
        flex-direction: column;
        align-items: center;
    }

    #OurLocation {
        width: 100%;
        height: auto;
    }

    .CenterContent > div {
        width: 100%;
    }

    .CenterContent #OurDirections {
        font-size: 24px;
        margin: 10px;
    }
}

@media screen and (max-width: 868px) {
    .CenterContent {
        flex-direction: column;
        align-items: center;
    }

    .CenterContent > div {
        margin: 10px 0;
    }
    .MainHeader {
        text-align: center;
    }

    .MainHeader > div {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-color: #F57630;
        padding-bottom: 0;
    }
    .AnotherBody {
        margin: 0; 
        padding: 10px; 
    }

    nav, footer {
        margin-left: 0;
        margin-right: 0;
        width: 100%; 
    }
}
