nav {
    background-color: #f2c063;

}
body {
    background-color: #f2c063;
}
.circle {
    display:flex;
    flex-direction: column;
    width: 185px;
    height: 185px;
    background: #2c2b22; 
    -moz-border-radius: 142px; 
    -webkit-border-radius: 142px; 
    border-radius: 142px;
 }
 #entrementl {
    display:flex;
    width:165px;
    height: 200px;
    margin-left:0px;
    flex-direction: column;
 }
 #entrementr{
    display:flex;
    width:165px;
    height: 200px;
    margin-left:10px;
    flex-direction: column;
    
 }
 .entre1, .entre2, .entre3 {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .entre1 {
    background-color: #8c160b;
    color:#f2c063;
 }
 .entre2 {
    background-color: #F57630;
    color:#400101;
 }
 .entre3 {
    background-color: #8c160b;
    color:#f2c063;
 }
 #logo {
    width:200px;
    height:200px;
    margin-top:20px;
 }
 .container {
    display:flex;
    align-items: center;
    padding:20px;
 }
.left-side, .right-side {
    text-align:center;
}
 p {
    max-width:300px;
    margin-left:10px;
    margin-right:10px;
    font-family: milonga;
 }
#hr {
    text-align: right;
    margin-right:50px;
    margin-top:20px;
}
#hl {
    margin-left:20px;
    margin-top:20px;
}
@font-face {
    font-family: milonga;
    src: url("fonts/Milonga-Regular.ttf");
  }
footer {
    background-color:#f2c063;
    font-family:milonga;
    font-size:small;
}