nav {
   background-color: #f2c063;
   margin-left:100px;

}
body {
   background-color: #f2c063;
   margin: 0; 
   overflow-x: hidden; 
}

.entre1, .entre2, .entre3 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%; 
   box-sizing: border-box; 
}
.circlel1, .circler1,.circlel2,.circler2,.circlel3, .circler3 {
   display:flex;
   flex-direction: column;
   width: 185px;
   height: 185px;
   background: #2c2b22; 
   -moz-border-radius: 142px; 
   -webkit-border-radius: 142px; 
   border-radius: 142px;
}
.circlel1,.circlel2,.circlel3, #entrementl1,#entrementl2,#entrementl3 {
  margin-left:100px;
}
.circler1,.circler2,.circler3, #entrementr1,#entrementr2,#entrementr3 {
  margin-right:100px;
}
#entrementl1,#entrementl2,#entrementl3 {
   display:flex;
   width:165px;
   height: 200px;
   margin-left:10px;
   flex-direction: column;
}
#entrementr1,#entrementr2,#entrementr3{
   display:flex;
   width:165px;
   height: 200px;
   margin-left:10px;
   flex-direction: column;
   
}

.entre1 {
   background-color: #8c160b;
   color:#f2c063;
}
.entre2 {
   background-color: #F57630;
   color:#400101;
}
.entre3 {
   background-color: #8c160b;
   color:#f2c063;
}
#logo1,#logo2,#logo3 {
   width:200px;
   height:200px;
   margin-top:20px;
}
.container {
   display:flex;
   align-items: center;
   padding:20px;
}
.left-side, .right-side {
   text-align:center;
}
p {
   max-width:300px;
   font-family: milonga;
}
#hr1,#hr2,#hr3{
   text-align: right;
   margin-right:120px;
   margin-top:20px;
   font-family:milonga;
}
#hl1,#hl2,#hl3 {
   margin-left:120px;
   margin-top:20px;
   font-family:milonga;
}
@font-face {
   font-family: milonga;
   src: url("fonts/Milonga-Regular.ttf");
 }
 footer {
  background-color: #f2c063;
  font-family: milonga;
  font-size: small;
  text-align: center; 
  display: flex;
  justify-content: center; 
}


.wide-bar-right {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100px; 
  background-color: #2c2b22; 
  right:0;
}
.wide-bar-left {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100px; 
  background-color: #2c2b22; 
  left:0;
}
@media screen and (max-width: 950px) {
   .wide-bar-left,
   .wide-bar-right {
      display: none;
   }

   .container {
      flex-direction: column;
      text-align: center;
   }



   .entre1, .entre2, .entre3 {
      flex-direction: column; 
   }

  
   .entre1 {
      background-color: #8c160b;
      color: #f2c063;
   }

   .entre2 {
      background-color: #F57630;
      color: #400101;
   }

   .entre3 {
      background-color: #8c160b;
      color: #f2c063;
   }

   #logo1,
   #logo2,
   #logo3 {
      display: none;
   }

   .circlel1,
   .circler1,
   .circlel2,
   .circler2,
   .circlel3,
   .circler3,
   #entrementl1,
   #entrementr1,
   #entrementl2,
   #entrementr2,
   #entrementl3,
   #entrementr3,
   #hl1,
   #hr1,
   #hl2,
   #hr2,
   #hl3,
   #hr3 {
      margin-left: auto;
      margin-right: auto;
   }
   #hl1,
   #hr1,
   #hl2,
   #hr2,
   #hl3,
   #hr3  {
      text-align: center;
   }
}